:host{
    flex: 0 0 auto;
    scroll-snap-align: center;
}
.player{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100px;
    min-width: 40px;
    background-color: grey;
    color: black;
    border-radius:  0 0 50px 50px;
    text-align: center;
    padding: 0 8px;
    text-overflow: ellipsis;
    span{
        font-size: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
        white-space: nowrap;
    }
    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
        padding: 8px 0;
        @media screen and (max-height : 800px) {
            width: 25px;
            height: 25px;
            padding-bottom: 3px;
        }
    }
    button{
        margin-right: 16px;
        height: 100%;
        width: auto;
    }
    &:hover{
        cursor: pointer;
    }
}

.player-active{
    background-color: orange;
    color: black;
}

.player-info{
    display: flex;
    align-items: center;
    flex-direction: column ;
    width: 100%;
}